<div class="context-menu" [style]="(menu.show?'':'display:none;') + ' top: ' + menu.top + 'px;' + (menu.left!== undefined?'left: ' + menu.left + 'px' :'') + (menu.right!== undefined?'right: ' + menu.right + 'px' :'')">
    <div *ngFor="let item of menu.items; let itemIndex = index" (click)="menuAction(item, $event)" (pointerenter)='submenuOpen(item, $event)'>
        <p>{{item.text}}</p>
    </div>
    <div *ngFor="let menu of menu.children">
        <app-context-menu [menu]="menu"></app-context-menu>
    </div>
</div>
