.logout {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: max(1vw, 5px); /*20px*/
    margin-bottom: max(1vw, 5px);
}

.logout .spotify-text {
    display: none;
    overflow: hidden;
}

.logout:hover .spotify-text {
    display: inline-block;
}