.logout {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: max(1vw, 5px); /*20px*/
    margin-bottom: max(1vw, 5px);
    opacity: 0.3;
}


.logout .spotify-text {
    display: none;
    overflow: hidden;
}

.logout:hover {
    opacity: 1.0;
}

.logout:hover .spotify-text {
    display: inline-block;
}