#canvas-placeholder {
  width: 100%;
  height: 100%;
}

#quality-opt {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: max(1vw, 5px);
  margin-left: max(1vw, 5px);
  opacity: 0.5;
  background-color: rgba(0,0,0,0);

  color: #bdc3c7;
  font-size: max(14px, 1vw);
  font-family: 'Lato', sans-serif;

  cursor: pointer;
}

#quality-label {
  display:  none; /* inline-block; */
  margin-left: 10px;
  border-bottom: 1px dashed #bdc3c7;
  overflow: hidden;
}

#quality-values {
  display:  none;
  overflow: hidden;
  margin-left: 30px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.quality-val {
  font-size: max(12px, 0.8vw);
  margin-top: 5px;
}

.quality-val:hover {
  color: var(--spotify-white);
}

.quality-val.selected {
  color: #f1c40f;
}

.quality-val:hover.selected {
  color: var(--spotify-white);
}

#quality-opt:hover {
  opacity: 1.0;
  background-color: rgba(0,0,0,0.5);
}

#quality-opt:hover #quality-label {
  display: inline-block;
}

#quality-opt:hover #quality-values {
  display: block;
}