<div [ngClass]="('overlay ' + (show? 'on' : 'off'))" (click)="onLeaveView()">
    <div [ngClass]="((showMenu? '' : 'hidden'))"  id="more-menu-overlay" (click)="closeMoreMenu($event)">
        <ng-template contextMenuHost></ng-template>
    </div>

    <div class="vcontainer">
        <div class="hcontainer chart-title" (pointerenter)="onChartTitleHoverEnter()" (pointerleave)="onChartTitleHoverLeave()">
            <div class="item-state">
                <p [ngClass]="((displayChartTitle.showState? '' : 'hidden'))" >
                    F: {{displayChartTitle.following}}
                </p>
            </div>
            <h1>{{chartName}}</h1>
            <div class="item-more">
                <img 
                [ngClass]="((displayChartTitle.showState? '' : 'hidden'))" 
                src="/assets/images/buttons/more.png" 
                width="40" height="40"
                (click)="openChartMoreMenu($event)">
            </div> 
        </div>

        <div class="hcontainer chart-tracks"  *ngFor="let track of displayTracks; let i = index" (pointerenter)="onDisplayTrackHoverEnter(i)" (pointerleave)="onDisplayTrackHoverLeave(i)">
            <div class="item-state">
                <img 
                    [ngClass]="((track.showState? '' : 'hidden'))" 
                    src="/assets/images/buttons/{{track.stateDisplay}}.png" 
                    width="40" height="40"
                    (click)="togglePlay(i, $event)">
            </div>
            <div class="item-title-img"></div>
            <div class="item-title">{{track.name}}</div>
            <div class="item-artist-image"></div>
            <div class="item-artist">by {{track.artist}}</div>
            <div class="item-more">
                <img 
                [ngClass]="((track.showState? '' : 'hidden'))" 
                src="/assets/images/buttons/more.png" 
                width="40" height="40"
                (click)="openTrackMoreMenu(i, $event)">
            </div> 
        </div>
    </div>
</div>
