<div [ngClass]="('overlay ' + (show? 'on' : 'off'))" >
    <div [ngClass]="((showMenu? '' : 'hidden'))"  id="more-menu-overlay" (click)="closeMoreMenu($event)">
        <ng-template contextMenuHost></ng-template>
    </div>

    <div class="vcontainer">
        <div class="hcontainer chart-title">
            <div class="item-spacing"> </div>
            <div class="item-state">
                <p class="flat-emoji"> {{displayChartTitle.followingText}}&#xFE0E; </p>
            </div>
            <div class="chart-title-text">
                <h1>{{chartName}}</h1>
            </div>
            <div class="item-more">
                <img 
                [ngClass]="('no-select ' + (displayChartTitle.showState? '' : 'hidden'))" 
                src="/assets/images/buttons/more.png" 
                width="40" height="40"
                (click)="openChartMoreMenu($event)"
                alt="Menu">
            </div>
            <div class="item-spacing"> </div>
            <div id="overlay-close" (click)="onLeaveView()">
              X
            </div> 
        </div>

        <div class="hcontainer chart-tracks-header">
            <div class="item-state"></div>
            <div class="item-title">TITLE</div>
            <div class="item-spacing"> </div>
            <div class="item-artist">ARTIST</div>
            <div class="item-more"></div>
        </div>

        <div class="vcontainer" id="tracks-container">
            <div *ngFor="let track of displayTracks; let i = index" 
                 [ngClass]="('hcontainer chart-tracks ' + (track.playing? 'playing' : ''))" 
                 (pointerenter)="onDisplayTrackHoverEnter(i)" (pointerleave)="onDisplayTrackHoverLeave(i)" 
                 (click)="onDisplayTrackClicked(i)">
                <div class="item-state">
                    <img 
                        [ngClass]="('no-select item-image ' + (track.showState? '' : 'hidden'))" 
                        src="/assets/images/buttons/{{track.stateDisplay}}.png" 
                        (click)="togglePlay(i, $event)"
                        alt="State">
                </div>
                <div class="item-title padded">{{track.name}}</div>
                <div class="item-spacing"> </div>
                <div class="item-artist padded">{{track.artist}}</div>
                <div class="item-more">
                    <img 
                    [ngClass]="('no-select item-image ' + (track.showState? '' : 'hidden'))" 
                    src="/assets/images/buttons/more.png"
                    (click)="openTrackMoreMenu(i, $event)"
                    alt="Menu">
                </div> 
            </div>
        </div>
    </div>
</div>
