.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;
    color: white;
  }

  #more-menu-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0.0,0.0,0,0.0);
    z-index: 2;
  }

  .overlay.on {
    display: block;
  }
  
  .overlay.off {
    display: none;
  }

  .vcontainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    overflow:auto;
    font-size: 45px;
  }

  .hcontainer {
    width: 80%;
    background-color: red;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
  }

  .item-state {
    width: 15%;
  }

  .item-title {
    width:35%;
  }

  .item-artist {
    width:35%;
  }

  .item-more {
    width: 15%;
  }

  .hidden {
    display: none;
  }